<div *ngIf="!isLoggedIn" class="form-login">
  <div class="form-container">
    <form [formGroup]="formGroup" class="example-form">
      <mat-form-field class="example-full-width login-item">
        <div>
          <mat-label class="mat-label-login">Phone</mat-label>
          <input class="input-login" matInput formControlName="phone">
          <mat-error *ngIf="formGroup.get('phone')?.invalid && formGroup.get('phone')?.touched">
            Số điện thoại không hợp lệ. Số điện thoại phải có ít nhất 9 ký tự.
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width login-item">
        <div>
          <mat-label class="mat-label-login">Mật khẩu</mat-label>
          <input class="input-login" matInput formControlName="password">
          <mat-error *ngIf="formGroup.get('password')?.invalid && formGroup.get('password')?.touched">
            Mật khẩu ít nhất 1 chữ thường, hoa, kí tự đặt biệt
          </mat-error>
        </div>
      </mat-form-field>
      <div *ngIf="formGroup.invalid" class="error-message">
        {{ checkErr }}
      </div>
      <div class="btn-login">
        <button class="btn-login-item" (click)="headlogin()" type="button">Đăng Nhập</button>
      </div>
    </form>
  </div>
</div>
