<!-- <div class="container">
  <div id="header-nav">
  <ul class="header-list-home">
    <li>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="home()">
        <mat-icon>home</mat-icon>
      </button>
    </li>
  </ul>
  <ul class="header-list">
    <li *ngIf="!isLoggedIn" class="header-item">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
      <li *ngIf="isLoggedIn" class="header-item header-item-list">
        <mat-label (click)="toggleUserInfo($event)">
          <img class="img-user" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8x4x3XkUjPxf9TfFD6OpXEFqg_7S8hsZWfA&usqp=CAU" alt="">
        </mat-label>
      </li>
  </ul>
    <div *ngIf="showUserInfo" class="user-info">
      <div *ngFor="let user of Loggedsuccessfully">
        <p>{{ user.userName }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.phone }}</p>
      </div>
      <button mat-button (click)="logout()">Đăng xuất</button>
    </div>
  </div> -->

   <!-- <app-header></app-header> -->
   <ul>
    <li><a routerLink="/login">Login</a></li>

   </ul>
  <router-outlet></router-outlet>
