.main-container {
  position: sticky;
  height: 46px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  display: flex;
  justify-content: space-between;

}

.right-section {
  margin-right: 15px;
}


/* .header-list {
  list-style: none;
  display: flex;
  position: fixed;
  position: absolute;
  right: 2%;
} */

/* .btn-home {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
} */

/* .header-item {
  margin-right: 20px;
} */

/* .img-user {
  width: 30px;
  border-radius: 50%;
} */

/* .header-item-list {
  position: relative;
}
.user-info {
  position: absolute;
  right: 0;
  top: 46px;
} */


