<nav class="navbar-expand navbar-dark bg-dark">
  <div class="container">
<ul class="nav justify-content-end">
  <li *ngIf="isLoggedIn" class="nav-item">
    <a class="nav-link active" routerLink="/admin/English">English</a>
  </li>
  <li *ngIf="isLoggedIn" class="nav-item">
    <a class="nav-link" routerLink="/admin/Product">Product</a>
  </li>
  <li *ngIf="!isLoggedIn" class="nav-item">
    <a class="nav-link disabled" routerLink="/login">Login</a>
  </li>
  <li *ngIf="isLoggedIn" class="nav-item dropdown">
    <app-user-data></app-user-data>
  </li>
</ul>
</div>
</nav>
 <div class="container">
  <router-outlet></router-outlet>
 </div>

 <!-- <footer class="bg-dark color-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Aubout</h2>
        <p>
          Tiếng Anh là một trong những ngôn ngữ quan trọng và phổ biến nhất trên thế giới.
          Nó là ngôn ngữ chính thức của nhiều quốc gia và được sử dụng rộng rãi trong các lĩnh vực khác nhau như kinh tế,
          khoa học, công nghệ, giáo dục, du lịch và truyền thông.
        </p>
      </div>
      <div class="col-md-4">
        <h2>thông tin Liên hệ</h2>
        <a href="">liên hệ</a>
        <a href="">chăm sóc khách hàng</a>
      </div>
      <h2>show.bs.collapse	</h2>
      <a href="">show.bs.collapse	</a>
      <a href="">show.bs.collapse	</a>
      <div class="col-md-4">

      </div>
    </div>
  </div>

 </footer> -->
