mat-label {
  display: block;
  text-align: center;
}
.input {
  margin-top: 20px
}



.form-register {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.form-container {
  min-width: 400px;
  width: 450px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ccc;
}

.item-register {
  width: 100%;
}

.btn-register {
  text-align: center;
}
button {
  cursor: pointer;
  background-color: blue;
  color: #fff;
  padding: 5px 16px;
  border-radius: 4px;
}

button:hover {
  background-color: #ccc;
  opacity: 0.8;
}
